
.posts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .post-card {
    background: black;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .post-card button {
    background-color: rgb(109, 101, 101);
    color: papayawhip;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
  }

  .post-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .post-card button:hover {
    background-color: rgb(24, 22, 22);
  }
  
  .comments-container {
    max-height: 150px; /* Adjust as needed */
    overflow-y: auto;
    margin-top: 20px;
  }