
.search-form {
    display: flex;
    margin-bottom: 20px;
  }
  
  .search-form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
  }
  
  .search-form button {
    padding: 10px;
    margin-left: 2px;
    background-color: rebeccapurple;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
  }
  
  .search-form button:hover {
    background-color: #0056b3;
  }
  